.channelRow {
    display: flex;
    align-items: center;
    width: 70%;
}

.channelRow_name_text {
    display: flex;
    flex-direction: column;
}

.channelRow_name_text > p {

    color: grey;
    font-size: small !important;

}

.channelRow_name_text > h4 {

    display: flex;
   align-items: center;
   justify-content: space-between;

}

.channelRow_logo{
   
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}